header{
    background-color: #363A4D;
}

.imgsvg{
    margin-left: 14%;
    width: 70%;
}

.navegacao{
    text-align: center;

    color: #EDECED;
}


.nav{
    font-size: 1.1rem;

    display: inline-block;

    margin-right: .7rem;
    margin-bottom: 1.25rem;
    margin-left: .7rem;

    text-align: center;
}

.vantagens{
    display: flex;
    flex-wrap: wrap;
}

.vant-item {
    max-width: 350px;

    box-sizing: border-box;

    background-repeat: no-repeat;
    background-position: top 1.25rem left 2.5rem;

    padding: 2rem 0 2rem 5rem;
}

.vantagens-all{
    width: 100%; /*para quando a tela for grande, meu cabecalho ir acompanhando*/
    max-width: 980px;
}

.titulos{
    text-align: center;

    font-weight: bold;
    font-size: 25px;

    margin-top: 70px;
}

.vantagem-custo{
    background-image: url(../img/custo.png);
}

.vantagem-qualidade{
    background-image: url(../img/qualidade.png);
}

.vantagem-seguranca{
    background-image: url(../img/seguranca.png);
}

.subtitulo-vantagens{
    color: #363A4D;

    font-weight: bold;

    margin-bottom: 5px;
}

.vantagem-desc{
    line-height: normal;
}

.comp-tipos{
    padding-top: 25px;
    padding-bottom: 25px;

    text-align: center;
}

.modelos-titulo{
    font-size: 18px;

    color: #363A4D;

    font-weight: bold;

    margin-bottom: 15px;
    margin-top: 25px;

    text-align: center;
}

.modelos-titulo2{
    font-size: 18px;

    color: #363A4D;

    font-weight: bold;

    margin-bottom: 15px;
    margin-top: 25px;

    text-align: center;
}

.modelos-titulo3{
    font-size: 18px;

    color: #363A4D;

    font-weight: bold;

    margin-bottom: 15px;
    margin-top: 25px;

    text-align: center;
}


.modelo1{
    margin-left: 90px;
}

.modelo2{
    margin-left: 90px;
}

.modelo3{
    margin-left: 80px;
}

.modelo4{
    margin-left: 58px;
}

.modelo5{
    margin-left: 44px;

    width: 100%;
    max-width: 80%;
}

.paragrafo-somos{
    margin-top: 10px;

    text-align: center;

    line-height: normal;
}

.videos{
    margin-top: 10px;
    margin-left: 40px;

    width: 80%;
}

.orcamentos-desc {
    margin-top: 10px;
    margin-bottom: 10px;

    text-align: center;
}

.botoes{
    display: block;
}

.botaowpp{
    margin-left: 44px;
    margin-top: 10px;
    margin-bottom: 10px;

    width: 100%;
    max-width: 80%;

    padding: 14px 14px;

    font-weight: bold;
    font-size: 16px;

    border-radius: 5px;

    background-image: linear-gradient(#ECE5DD, #363A4D);
    
    color: #ffffff;
}

.botaoinsta{
    margin-left: 44px;
    margin-top: 10px;
    margin-bottom: 10px;

    width: 100%;
    max-width: 80%;

    padding: 14px 14px;

    border-radius: 5px;

    font-weight: bold;
    font-size: 16px;

    background-image: linear-gradient(#ECE5DD, #363A4D);

    color: #ffffff;
}

.botaoemail{
    max-width: 80%;
    margin-top: 10px;
    margin-left: 44px;

    width: 100%;

    margin-bottom: 40px;

    padding: 14px 14px;

    font-weight: bold;
    font-size: 16px;

    border-radius: 5px;

    background-image: linear-gradient(#ECE5DD, #363A4D);

    color: #ffffff;
}

footer{
	text-align: center; 

	background-color: #363A4D; 

	padding: 40px 0;  
}

.itensfooter li{
    display: inline-block;
}

.desc{
    font-size: 25px;

    color: #ffffff;
}

.redestotais li{
    display: inline-block;

    margin-top: 10px;
    margin-left: 10px;
}

.logo-pequena-jney {
    margin-left: 4px;
}

.copyright{
	color: #FFFFFF;

	font-size: 13px; 

	margin-top: 60px;  
    margin-bottom: 0;
} 

.dev-por{
	float: right;

	margin-right: 88px;
    margin-top: 19px;

    color:#ffffff;
}

@media screen and (min-width: 1024px){
    .imgsvg{
        width: 100%;
        max-width: 20%;

        margin-left: 40%;
    }

    .vantagens li{
        display: inline-block;
    }

    .vantagens{
        justify-content: space-around;

        margin-top: 40px;
        margin-right: -7%;
    }

    .comportastudo{
        margin-top: 100px;
    }

    .comportas-tipos{
        justify-content: space-around;

        margin-top: 45px;
        margin-left: 10%;
        margin-right: 10%;

        display: inline-flex;
        flex-wrap: wrap;
    }

    .modelos-titulo{
        margin-right: -17%;
        margin-left: 10%;
    }

    .modelos-titulo2{
        margin-top: 70px;
        margin-right: -5%;
        margin-left: 10%;
    }

    .modelos-titulo3{
        margin-top: 70px;
        margin-right: 10%;
        margin-left: 10%;
    }

    .modelo1:hover, .modelo2:hover, .modelo3:hover, .modelo4:hover, .modelo5:hover{
        opacity: 50%;

        transition: 1s;
    }

    .videos{
        margin-top: 30px;
        margin-left: 37%;

        width: 25%;
    }

    .quemsomos{
        margin-top: 100px;
    }

    .botoes{
        width: 27%;
        margin-left: 36%;
    }

    .botaowpp:hover, .botaoinsta:hover, .botaoemail:hover{
        font-size: 20px;

        background: #363A4D;

        transition: 1s;
    }

    .dev-por{
        float: right;

        margin-right: 15px;
        margin-top: 19px;

        color:#ffffff;
    }

}

@media screen and (min-width: 1900px){
    .comportas-tipos{
        margin-left: 20%;
        margin-right: 20%;
    }
    
    .botoes{
        width: 27%;
        
        margin-left: 37%;
    }

}